<p id="notice"><%= notice %></p>

<p>
  <strong>Asunto:</strong>
  <%= @recepcion.asunto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @recepcion.descripcion %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @recepcion.nombres %>
</p>

<%= link_to 'Edit', edit_recepcion_path(@recepcion) %> |
<%= link_to 'Back', recepciones_path %>
