<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Tiempo de atencion</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atenciones.each do |atencion| %>
      <tr>
        <td><%= distance_of_time_in_words_to_now(atencion.hora_atencion)%></td>
        <td><%= atencion.nombres %></td>
        <td><%= atencion.descripcion %></td>
        <td><%= atencion.comentario %></td>
        <td><%= link_to 'ver', atencion %></td>
        <td><%= link_to 'Editar', edit_atencion_path(atencion) %></td>
       </tr>
    <% end %>
  </tbody>
</table>

