<p id="notice"><%= notice %></p>

<h1>Listing Atenciones</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atenciones.each do |atencion| %>
      <tr>
        <td><%= atencion.descripcion %></td>
        <td><%= atencion.comentario %></td>
        <td><%= link_to 'Show', atencion %></td>
        <td><%= link_to 'Edit', edit_atencion_path(atencion) %></td>
        <td><%= link_to 'Destroy', atencion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atencion', new_atencion_path %>
