<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @atencion.descripcion %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @atencion.comentario %>
</p>

<%= link_to 'Edit', edit_atencion_path(@atencion) %> |
<%= link_to 'Back', atenciones_path %>
<%= link_to 'Atendido', atendido_atencion_path(@atencion) %>