<%= form_for(@agencia) do |f| %>
  <% if @agencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agencia.errors.count, "error") %> prohibited this agencia from being saved:</h2>

      <ul>
      <% @agencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

  <div class="col-md-6">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class: 'form-control'  %>
  </div>
  <div class="col-md-6">
    <%= f.label :zona %><br>
    <%= f.collection_select :zona, Agencia.zonas, :first, :first, {}, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :numero %><br>
    <%= f.number_field :numero, class: 'form-control'  %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <br>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
</div>  
<% end %>
