<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Zona</th>
      <th>Numero</th>
    </tr>
  </thead>

  <tbody>
    <% @agencias.each do |agencia| %>
      <tr>
        <td><%= agencia.nombre %></td>
        <td><%= agencia.direccion %></td>
        <td><%= agencia.telefono %></td>
        <td><%= agencia.zona %></td>
        <td><%= agencia.numero %></td>
      </tr>
    <% end %>
  </tbody>
</table>