<p id="notice"><%= notice %></p>



<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Agencia</th>
      <th>Rol</th>
      <th>Estado</th>
      <th>Codigo</th>
      <th>Correo</th>
      <th>Login</th>
      <th>Cedula</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.agencia.try(:nombre) %></td>
        <td><%= usuario.rol %></td>
        <td><%= usuario.estado %></td>
        <td><%= usuario.codigo %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.login %></td>
        <td><%= usuario.cedula %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>


