
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Imágen de perfil
      </div>
      <div class="panel-body"></div>
    </div>
  </div>  
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Detalles de la cuenta
      </div>
      <table class="table">
        <tr>
          <td><b>Nombre: </b> <%= @usuario.nombre %></td>
          <td><b>Apellido: </b> <%= @usuario.apellido %></td>
        </tr>
         <tr>
          <td><b>Agencia: </b> <%= @usuario.agencia.try(:nombre) %></td>
          <td><b>Rol: </b> <%= @usuario.rol %></td>
        </tr>
        <tr>
          <td><b>Estado: </b> <%= @usuario.estado %></td>
          <td><b>Codigo: </b> <%= @usuario.codigo %></td>
        </tr>
        <tr>
          <td><b>Email: </b> <%= @usuario.email %></td>
          <td><b>Login: </b> <%= @usuario.login %></td>
        </tr>
        <tr>
          <td><b>Cedula: </b> <%= @usuario.cedula %></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
