<div class="row">
  <div class="col-md-6 col-sm-6">
    <h3>Listado de Turnos</h3>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="btn-group pull-right">
      <%= link_to 'Buscar', '#', class: 'btn btn-default', data: {target: '#myModal', toggle: 'modal'} %>

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
            Descargar
            <span class="caret"></span>
          </button>

            <ul class="dropdown-menu">
              <li><%=link_to 'PDF', turnos_path(format: :pdf) %></li>
              <li><%=link_to 'CSV', turnos_path(format: :csv) %></li>
            </ul> 
        </div>   
      </div>
    </div>
  </div>
</div> 

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Usuario ingreso</th>
      <th>Usuario atencion</th>
      <th>Agencia</th>
      <th>Nombres</th>
      <th>Asunto</th>
      <th>Descripcion</th>
      <th>Hora ingreso</th>
      <th>Hora atencion</th>
      <th>Hora finalizacion</th>
      <th>Comentario</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.usuario_ingreso.try(:nombre) %></td>
        <td><%= turno.usuario_atencion.try(:nombre)%></td>
        <td><%= turno.agencia.try(:nombre)%></td>
        <td><%= turno.nombres %></td>
        <td><%= turno.asunto %></td>
        <td><%= turno.descripcion %></td>
        <td><%= turno.hora_ingreso %></td>
        <td><%= turno.hora_atencion %></td>
        <td><%= turno.hora_finalizacion %></td>
        <td><%= turno.comentario %></td>
        <td><%= turno.type %></td>
        <td><%= link_to 'Show', turno_path(turno), class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'shared/busqueda', locals: { campos_busqueda: 
                                                    [
                                                     :nombres_cont,
                                                     :asunto_cont, 
                                                     :usuario_ingreso_nombre_cont,
                                                     :usuario_atencion_nombre_cont
                                                     ] 
                                                }
%>