<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario ingreso:</strong>
  <%= @turno.usuario_ingreso_id %>
</p>

<p>
  <strong>Usuario atencion:</strong>
  <%= @turno.usuario_atencion_id %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @turno.agencia.try(:nombre) %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @turno.nombres %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @turno.asunto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @turno.descripcion %>
</p>

<p>
  <strong>Hora ingreso:</strong>
  <%= @turno.hora_ingreso %>
</p>

<p>
  <strong>Hora atencion:</strong>
  <%= @turno.hora_atencion %>
</p>

<p>
  <strong>Hora finalizacion:</strong>
  <%= @turno.hora_finalizacion %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @turno.comentario %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @turno.estado %>
</p>

<%= link_to 'Edit', edit_turno_path(@turno) %> |
<%= link_to 'Back', turnos_path %>
