<!DOCTYPE html>
<html>
<head>
  <title>Turnero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>


<div class="content container">

<% flash.each do |type, message| %>
    <%= alert_tag(type, message) %>
<%end%>
<%= yield %>
</div>


<div class="footer">

</body>
</html>
